.container{
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
    height: 100px;
    margin: 5px 0;
}

.containers {
    background-color: rgb(236, 232, 232);
    display: flex;
    flex-direction: row;
    height: 100px;
    margin: 5px 0;
}
.image{
    width:100px; 
    height:100px;
    margin: 0 15px;
    border-radius: 50%;
}

.images{
    width:100px; 
    height:100%;
    border-radius: 50%;
    object-fit: cover;
}
.comment{
    width: 90%;
}

.comment p{
    text-align: left;
<<<<<<< HEAD
}

@media screen and (max-width: 700px) {
    .container {
            background-color: antiquewhite;
            display: flex;
            flex-direction: row;
            height: 100px;
            margin: 5px 1px;
        }
        .containers {
            background-color: rgb(236, 232, 232);
            display: flex;
            flex-direction: row;
            height: 100px;
            margin: 5px 2px;
        }
    .image {
            width: 50px;
            height: 50px;
            margin: 0 15px;
            border-radius: 50%;
        }
    
    .images {
            width: 50px;
            height: 100%;
            border-radius: 50%;
            object-fit: cover;
        }
=======
>>>>>>> 4cf1630beca0304a65f208936072eeea2c082329
}