*{
    box-sizing: border-box;
    margin: 0;
}

.container{
    display: flex;
    flex-direction: column;
}
.postpart{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 13px;
}


.title{
    font-size: 100px;
}
.image{
    width: 80%;
    display: flex;
    overflow: hidden;
    height: 250px;
}
img{
    object-fit: cover;
    object-position: center center;
    width: 100%;
}
.detailpart{
    width: 25%;
    font-size: large;
}

.button {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: auto;
    width: 100%;
}

.btn{
margin: 10px auto;
background-color: #333;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: #fff;
    padding: 15px 30px;
    border-radius: 5px;
    width: 90%;
}
.text{
    color: #fff;
}
svg {
    color: #fff;
}
.related{
    
    margin:  10px  10%;
}
.p{
    text-align: center;
}
.cont {
    flex-basis: 125%;
}
.content{
    flex-basis: 90%;
    margin: 4% 0;
}

.relatedPost{
    flex-basis: 40%;
}

.comment{
    margin: 10% 0;
}

.nameAuthor{
    text-align: center;
    margin: 0 0 0 -15px ;
}

@media screen and (max-width: 800px) {
    .post_page{
        margin: 0 0 0 10px;
    }
    .container {
        display: flex;
        flex-direction: column;
        margin: 0 3%;
    }

    .postpart {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
    }

    .image {
        width: 100%;
        display: flex;
        overflow: hidden;
        height: 250px;
    }

    img {
        object-fit: cover;
        object-position: center center;
        width: 100%;
        
    }

    .detailpart {
        width: 25%;
        margin: auto;
    }
    .block{
        display: block;
    }

    .button {
        display: block;
        display: flex;
        flex-direction: column;
       width: 100%;
    }

    .btn {
        
        margin: 10px -60px;
        width: 210px;
        background-color: #333;
        align-items: center;
        text-decoration: none;
        color: #fff;
        border-radius: 5px;
        
    }

    .text {
        color: #fff;
    }

    svg {
        color: #fff;
    }

    .related {

        margin: 10px 10%;
    }

    .p {
        text-align: center;
    }

    .cont {
        flex-basis: 125%;
    }

    .content {
        flex-basis: 90%;
        margin: 4% 0;
    }

    .relatedPost {
        flex-basis: 40%;
    }

    .comment {
        margin: 10% 0;
    }

    h1{
        font-size: 1.2rem;
    }
    a{
        width: 300px;
        font-size: 0.8rem;
    }
 }
