*{
    box-sizing: border-box;
    margin: 0;
}

.container{
    display: flex;
    flex-direction: column;
}
.postpart{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.image{
    width: 80%;
    display: flex;
    overflow: hidden;
    height: 250px;
}
img{
    object-fit: cover;
    object-position: center center;
    width: 100%;
}
.detailpart{
    width: 25%;
}

.button {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: auto;
    width: 100%;
}

.btn{
margin: 10px auto;
background-color: #333;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: #fff;
    padding: 15px 30px;
    border-radius: 5px;
    width: 90%;
}
.text{
    color: #fff;
}
svg {
    color: #fff;
}
.related{
    
    margin:  10px  10%;
}
.p{
    text-align: center;
}
.cont {
    flex-basis: 125%;
}
.content{
    flex-basis: 90%;
    margin: 4% 0;
}

.relatedPost{
    flex-basis: 40%;
}

.comment{
    margin: 10% 0;
}