* {
  box-sizing: border-box;
}



a {
  cursor: pointer;
}



main {
  
  max-width: 100%;
  margin: 0 auto;
}




input {
  display: block;
  margin-bottom: 5px;
  width: 100%;
  padding: 5px 7px;
  border: 2px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}

button {
  width: 100%;
  display: block;
  background-color: #555;
  cursor: pointer;
  border: 0;
  color: #fff;
  border-radius: 5px;
  padding: 7px 0;
}

form.login h1,
form.register h1 {
  text-align: center;
}

div.post-page div.image {
  height: 200px;
  display: flex;
  overflow: hidden;
}

div.post-page div.image img {
  object-fit: cover;
  object-position: center center;
  width: 100%;
}

div.post-page a {
  color: #333;
  text-decoration: none;
}

div.post-page h1 {
  text-align: center;
  margin: 10px 0 5px;
}

div.post-page time {
  text-align: center;
  display: block;
  font-size: 0.7rem;
  color: #aaa;
}

div.post-page div.author {
  text-align: center;
  margin-bottom: 20px;
  display: block;
  font-size: 0.7rem;
  font-weight: bold;
}

div.post-page div.content p {
  line-height: 1.6rem;
  text-align: justify;
}

div.edit-row {
  text-align: center;
  margin-bottom: 20px;
}

div.post-page a.edit-btn {
  background-color: #333;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: #fff;
  padding: 15px 30px;
  border-radius: 5px;
}

a svg {
  height: 20px;
}


p {
  text-align: justify;
}

@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}



a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* navbar style start  */

.main-nav {
  width: 100%;
  height: 3rem;
  display: grid;
  grid-template-columns: 1fr 2fr ;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  background-image: linear-gradient(-20deg, #fc6076 0%,
        #ff9a44 100%);
  }

.logo {
  display: grid;
  /* background-color: #3b5998; */
  
  justify-content: start;
  align-items: center;
  margin: 0 20px;
}



.menu-link ul {
  height: 2.7rem;
  display: flex;
  justify-content:end;
  align-items: center;
  vertical-align: middle;
  
}

.menu-link ul li {
  
margin: 0 30px 0 10px;
}

.social-media {
  grid-column: 5/5;
}

.social-media ul {
  height: 5rem;
  display: grid;
  grid-template-columns: 3fr repeat(3, 1fr);
  align-items: center;
  justify-content:center;
}

.social-media ul li {
  text-align: right;
}

.social-media ul li:first-child {
  grid-column: 2/3;
}

/* ----------- Grid part ends ----------------- */

.logo h2 {
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
  background: -webkit-linear-gradient(#000000, rgb(0, 0, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo h2 span {
  font-size: 2.5rem;
}

.menu-link ul li {
  font-size: 1.3rem;
}

.menu-link ul li a {
  text-transform: capitalize;
  color: rgba(0, 0, 3, 0.8);
  transition: 0.5s;
}

.menu-link ul li:hover>a {
  transform-origin: left;
  color: rgba(0, 0, 3, 1);
  text-decoration: underline;
  transition: 0.5s;
}

.social-media ul li {
  font-size: 1.8rem;
}

.social-media .hamburger-menu {
  display: none;
}

.facebook {
  color: #3b5998;
}

.instagram {
  color: #c32aa3;
}

.youtube {
  color: #ff0000;
}

/* hero section   */

.hero-section {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-section p {
  font-size: 3rem;
  text-transform: capitalize;
}

.hero-section h1 {
  font-size: 5rem;
  text-transform: uppercase;
  text-align: center;
}



/* responsive css style  */
@media (max-width: 998px) {
  .main-nav {
    height: 5rem;
    grid-template-columns: 1rem 2fr 3fr 2rem 2rem;
  }

  .menu-link {
    display: none;
  }

  .logo,
  .social-media ul {
    height: 5rem;
  }

        
  .mobile-menu-link {
    grid-column: 2/4;
    position: relative;
    z-index: 99;
  }

  .mobile-menu-link {
    background-color: white;
    height: 20rem;
    display: grid;
    grid-column: 2/5;
    align-items: center;
    padding-left: 3rem;
    transition: all 2s linear;
    transform-origin: top;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }

  .mobile-menu-link ul {
    height: 20rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: start;
  }

  .mobile-menu-link ul li:first-child {
    transition-delay: 0.2s;
  }

  .social-media {
    grid-row: 1/2;
    grid-column: 3/5;
    justify-items: end;
    align-items: center;
    transition: all 2s linear;
  }

  .social-media .social-media-desktop {
    height: 0;
    display: none;
  }

  .social-media {
    height: 5rem;
    display: flex;
    justify-self: end;
    align-items: center;
  }

  .social-media .hamburger-menu {
    display: block;
    font-size: 2.5rem;
  }
}



.logoss{
  width: 300px;
}

.indexPage {
  margin: 1% 2%;
}

